h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: '48px';
}

ul{
    border: 1px solid gray;
}
  
li{
    border-bottom: 1px solid lightgray;
}  

body{
    margin: 0;
}

.renglon{
    margin-bottom: 0 !important;
}